@model IEnumerable<Locatarium.Models.ResidenceModel>

<table class="table">
    <thead class="bg-white">
        <tr>
            <th width="25%">
                <span class="bg-white">Title</span>
            </th>
            <th>
                <span class="bg-white">Address</span>
            </th>
            <th width="15%">
                <span class="bg-white">Price</span>
            </th>
            <th>
                <span class="bg-white">Categories</span>
            </th>
            <th width="15%">
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td width="25%">
                    <span class="bg-white">@Html.DisplayFor(modelItem => item.Name)</span>
                </td>
                <td>
                    <span class="bg-white">@Html.DisplayFor(modelItem => item.Address.Street) @Html.DisplayFor(modelItem => item.Address.City), @Html.DisplayFor(modelItem => item.Address.State), @Html.DisplayFor(modelItem => item.Address.PostalCode)</span>
                </td>
                <td width="15%">
                    <span class="bg-white">@Html.DisplayFor(modelItem => item.Price)</span>
                </td>
                <td>
                    @foreach (var itemList in item.ResidenceCategories)
                    {
                        <span>[</span><span class="bg-white">@Html.DisplayFor(modelItem => itemList.Name)</span><span>]</span>
                        <p></p>
                    }
                </td>
                <td width="15%">
                    <div class="col-md-8 btn btn-danger" onclick="deleteResidence(@item.Id)">
                        Delete
                    </div>
                    <a asp-controller="Residences" asp-action="Edit" asp-route-id="@item.Id">
                        <div class="bg-white">
                            <div class="col-md-8 mt-1 btn btn-outline-info">
                                Edit
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>